<form method="post" style="border: 1px solid gray; border-radius: 5px; padding: 15px; box-shadow: -2px -2px 1px gray;">
  <p style="text-align: right; margin-right: 40px;">
    <label for="tb_name" style="margin-right: 10px;">登录名</label>
    <input type="text" id="tb_name" name="name" placeholder="用户名/手机号/邮箱" style="font-size: 14px;" />
  </p>
  <p style="text-align: right; margin-right: 40px;">
    <label for="tb_pass" style="margin-right: 10px;">密码</label>
    <input type="password" id="tb_pass" name="pass" placeholder="密码" style="font-size: 14px;" />
  </p>
  <p style="text-align: right; margin-right: 40px;">
    <label for="tb_captcha" style="margin-right: 10px;">验证码</label>
    <input type="text" id="tb_captcha" name="captcha" placeholder="验证码" style="font-size: 14px;" />
  </p>
  <p  style="text-align: right; margin-right: 40px;">
    <span style="font-size: 12px; color: gray;">验证码，点击刷新</span>
    <img id="captcha" src="" alt="captcha" style="width: 80px; height: 40px;" />
  </p>
  <p style="text-align: right; margin-right: 40px; margin-top: 20px;">
    <input type="submit" value="登录" style="background-color: lightblue; font-size: 14px;" />
    <input type="hidden" name="code" value="<%= @hidden_code %>" />
  </p>
</form>
<script>
$(function () {
  // init status

  // go and retrieve captcha

  // define on-event functions

  // define validations

  // validated, enable submit

}); 
</script>

