<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h3>标准数据-企业信息-2015年度</h3>

      <table class="table">
        <thead>
          <tr>
            <th>企业名称</th>
            <th>园区地址</th>
            <th>类别</th>
            <th>登记号</th>
            <th>员工人数</th>
            <th>法人</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>A公司</td>
            <td>科技园一期东侧大厦</td>
            <td>互联网科技</td>
            <td>011-0122-sbsb007</td>
            <td>60,000</td>
            <td>M某</td>
          </tr>
          <tr>
            <td>T公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>023-0111-sbsb007</td>
            <td>33,000</td>
            <td>M某某</td>
          </tr>
          <tr>
            <td>L公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技、硬件</td>
            <td>001-0111-sbsb007</td>
            <td>80,000</td>
            <td>杨某某</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
          <tr>
            <td>B公司</td>
            <td>科技园二期西面</td>
            <td>互联网科技</td>
            <td>011-0111-sbsb007</td>
            <td>45,000</td>
            <td>艳红</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


